@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Clan Pro";
  src:
    local("Clan"),
    url(../fonts/ClanWebPro-News.woff) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Clan Pro";
  src:
    local("Clan"),
    url(../fonts/ClanWebPro-Bold.woff) format("woff");
  font-weight: bold;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    @apply text-blue dark:bg-dark bg-white dark:text-white;
    /* Ensure full height if needed, though often handled by root/app divs */
    min-height: 100vh;
  }
}

@theme {
  --font-display: "Clan Pro", sans-serif;
  --breakpoint-md: 66.5rem;
  --header-height: 6rem;
  --color-dark: var(--dark);
  --color-blue: var(--blue);
  --color-white: var(--white);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-dark-grey: var(--dark-grey);
  --color-light-grey: var(--light-grey);
}

@layer base {
  :root {
    --dark: #14161d;
    --blue: #1e3791;
    --white: #ffffff;
    --green: #00ff00;
    --red: #ff0000;
    --dark-grey: #616161;
    --light-grey: #d9d9d9;
  }
}

@layer components {
  h1 {
    @apply font-display text-2xl leading-tight font-bold;
    @apply md:text-[2.5rem] md:leading-[1.2];
  }
  h2 {
    @apply font-display text-3xl leading-tight font-bold;
    @apply md:text-[2rem] md:leading-[1.2];
  }
  h3 {
    @apply font-display text-lg leading-tight font-bold;
    @apply md:text-[1.5rem] md:leading-[1.2];
  }
  h4 {
    @apply font-display text-base leading-tight font-semibold;
    @apply md:text-[1.3rem] md:leading-[1.2];
  }
  p {
    @apply font-display text-sm leading-relaxed font-normal;
    @apply md:text-base md:leading-[1.4];

    &.bold {
      @apply font-bold;
    }

    &.small {
      @apply text-sm leading-[1.2];
    }
    &.large {
      @apply font-display leading-[1.2] font-bold md:text-xl;
    }
  }

  .xAxis {
    font-weight: bold;
    font-family: var(--font-display);
    font-size: 0.9rem;
    @apply text-blue dark:bg-dark fill-blue dark:fill-white;
  }

  .yAxis {
    font-weight: bold;
    font-family: var(--font-display);
    font-size: 0.9rem;
    color: var(--color-blue);
    @apply text-blue dark:bg-dark fill-blue dark:fill-white;
  }

  tspan {
    font-family: var(--font-display);
    @apply text-blue fill-blue dark:bg-dark flex max-w-10 text-wrap break-words hyphens-auto dark:fill-white;
  }

  .iconSize {
    font-size: 2rem;
    line-height: 1.2;
  }

  .recharts-text {
    font-family: var(--font-display);
  }
}
