// @font-face {
// 	font-family: "Clan Pro";
// 	src:
// 		local("Clan"),
// 		url(../fonts/ClanWebPro-News.woff) format("woff");
// 	font-weight: normal;
// }

// @font-face {
// 	font-family: "Clan Pro";
// 	src:
// 		local("Clan"),
// 		url(../fonts/ClanWebPro-Bold.woff) format("woff");
// 	font-weight: bold;
// }

$font-size: 16px;
$mobile-horizontal-padding: 32px;
$dark: #14161d;
$blue: #1e3791;
$white: #ffffff;
$green: #00ff00;
$red: #ff0000;
$dark-grey: #616161;
$light-grey: #d9d9d9;
$stroke-width: 2px;
$all-transition: all 0.3s ease-in-out;
$long-transition: all 1s ease-in-out;
$breakpoint: 80vw;
$toggle-height: 40px;

.fw-normal {
  font-weight: normal !important;
}

.recharts-xAxis,
.recharts-yAxis {
  user-select: none !important;
}

.hide-first-y-axis-tick
  .recharts-yAxis
  .recharts-cartesian-axis-ticks
  .recharts-cartesian-axis-tick:first-of-type,
.hide-first-x-axis-tick
  .recharts-xAxis
  .recharts-cartesian-axis-ticks
  .recharts-cartesian-axis-tick:first-of-type {
  display: none;
}
.move-last-x-axis-tick
  .recharts-xAxis
  .recharts-cartesian-axis-ticks
  .recharts-cartesian-axis-tick:last-of-type
  text {
  transform: translateX(-20px);
}

.move-first-x-axis-tick
  .recharts-xAxis
  .recharts-cartesian-axis-ticks
  .recharts-cartesian-axis-tick:first-of-type
  text {
  transform: translateX(20px);
}

.move-first-y-axis-tick
  .recharts-yAxis
  .recharts-cartesian-axis-ticks
  .recharts-cartesian-axis-tick:last-of-type
  text {
  transform: translateY(8px);
}

.move-recharts-label .recharts-label-list {
  transform: translateY(1px);
}

.recharts-wrapper {
  user-select: none;
}
.recharts-surface {
  overflow: visible !important;
}

.matrix-cell {
  color: white !important;
}
.label-x {
  min-height: 30px;
  padding-bottom: 8px;
}
.value-cell {
  text-align: center;
  .inner-value-cell {
    width: 100%;
    aspect-ratio: 1;
    &.dark {
      border: 1px solid var(--color-dark-grey);
    }
    &.light {
      border: 1px solid var(--color-light-grey);
    }
    .inner-value-cell-child {
      aspect-ratio: 1;
      &.dark {
        background: var(--color-white);
      }
      &.light {
        background: var(--color-blue);
      }
    }
  }
  .tooltip {
    z-index: 9;
    position: absolute;
    left: 50%;
    width: 300px;
    height: auto;
    &.above {
      top: 0;
      transform: translateX(-50%) translateY(-100%);
    }
    &.below {
      top: 100%;
      transform: translateX(-50%) translateY(0);
    }
    &.dark {
      background: var(--color-white);
      p {
        color: var(--color-dark) !important;
      }
      .placeholder {
        background: var(--color-dark) !important;
      }
    }
    &.light {
      background: var(--color-blue);
      .placeholder {
        background: var(--color-white) !important;
      }
      p {
        color: var(--color-white) !important;
      }
    }
    .placeholder {
      height: $stroke-width;
    }
  }
}
