@font-face {
	font-family: "Clan Pro";
	src:
		local("Clan"),
		url(../fonts/ClanWebPro-News.woff) format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "Clan Pro";
	src:
		local("Clan"),
		url(../fonts/ClanWebPro-Bold.woff) format("woff");
	font-weight: bold;
}

$font-size: 16px;
$dark: #14161d;
$blue: #1e3791;
$white: #ffffff;
$green: #00ff00;
$red: #ff0000;
$dark-grey: #616161;
$light-grey: #d9d9d9;
$stroke-width: 2px;
$all-transition: all 0.3s ease-in-out;
$mobile: 768px;
$breakpoint: 80vw;
$toggle-height: 40px;

/* 

@media screen and (min-width: $mobile) {
} 

*/

html {
	scroll-behavior: smooth;
	&.dark {
		background-color: $dark;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p:not(.ignore) {
			color: $white;
		}
		section,
		main,
		footer {
			background-color: $dark;
		}
	}
	&.light {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p:not(.ignore) {
			color: $blue;
		}
	}
	section {
		max-width: 100vw;
	}
	main {
		@media screen and (min-width: $mobile) {
			max-width: $breakpoint !important;
			margin-left: calc((100vw - $breakpoint) / 2);
			padding: 0 !important;
		}
		@media screen and (max-width: $mobile) {
			max-width: 100vw;
			overflow-x: hidden;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Clan Pro", sans-serif;
	font-weight: bold !important;
	line-height: normal !important;
}

h1:not(.ignore) {
	font-size: calc($font-size * 2.5) !important;
}
h2 {
	font-size: calc($font-size * 2) !important;
}
h3 {
	font-size: calc($font-size * 1.5) !important;
}
h4 {
	font-size: calc($font-size * 1.3) !important;
}

p,
li {
	font-size: $font-size;
	font-family: "Clan Pro", sans-serif;
	font-weight: normal;
	line-height: calc($font-size * 1.4) !important;
	&.bold {
		font-weight: bold;
	}
	&.white {
		color: $white;
	}
	&.small {
		font-size: 12px !important;
		line-height: 14.4px !important;
	}
}

header {
	border-bottom: $stroke-width solid $white;
	padding: calc($font-size * 1) calc($font-size * 1.5);
	@media screen and (min-width: $mobile) {
		padding: calc($font-size * 1.5) calc((100vw - $breakpoint) / 2);
	}
	&.dark {
		background: $dark;
		border-color: $white;
	}
	&.light {
		border-color: $blue;
		background: $white;
	}
}
.nav-ul {
	z-index: 12;
	&.dark {
		background: $dark;
		@media screen and (min-width: $mobile) {
			border-left: $stroke-width solid $white;
			border-right: $stroke-width solid $white;
			border-bottom: $stroke-width solid $white;
		}
	}
	&.light {
		background: $white;
		@media screen and (min-width: $mobile) {
			border-left: $stroke-width solid $blue;
			border-right: $stroke-width solid $blue;
			border-bottom: $stroke-width solid $blue;
		}
	}
}

nav {
	position: fixed;
	left: auto;
	right: 2vw;
	a {
		position: relative;
		cursor: pointer;
		& > div:not(.absolute) {
			width: calc($font-size * 1.25);
			height: calc($font-size * 1.25);
			border: 2px solid $white;
			background: $dark;
			&.light {
				border-color: $blue !important;
				background: $white;
			}
			&:hover,
			&.open {
				background: $white;
				&.light {
					background: $blue;
				}
			}
		}
		.absolute {
			background: $white;
			&.light {
				background: $blue;
				p {
					color: $white;
				}
			}
		}
	}
}

section {
	&.sticky-section {
		.card {
			&.dark {
				background: $dark;
				@media screen and (min-width: $mobile) {
					border: $stroke-width solid $white;
				}
			}
			&.light {
				background: $white;
				@media screen and (min-width: $mobile) {
					border: $stroke-width solid $blue;
				}
			}
		}
	}
}

#overview {
	a {
		&.dark {
			border: 2px solid $white;
			&:hover {
				background: $white;
				p {
					color: $dark;
				}
			}
		}
		&.light {
			border: 2px solid $blue;
			&:hover {
				background: $blue;
				p {
					color: $white;
				}
			}
		}
	}
	p {
		font-size: calc($font-size * 1.25) !important;
		line-height: calc($font-size * 1.4) !important;
	}
}

footer {
	width: 100vw;
	& > div {
		@media screen and (min-width: $mobile) {
			max-width: $breakpoint !important;
			margin-left: calc((100vw - $breakpoint) / 2);
		}
	}
	&.dark {
		border-top: $stroke-width solid $white;
	}
	&.light {
		border-top: $stroke-width solid $blue;
	}
	h4 {
		text-decoration: underline;
	}
}

.drop-down {
	&.dark {
		button,
		.flyout {
			border: 2px solid $white;
		}
		.flyout {
			background: $dark;
		}
		hr {
			color: $white;
		}
	}
	&.light {
		button,
		.flyout {
			border: 2px solid $blue;
		}
		.flyout {
			background: $white;
		}
		hr {
			color: $blue;
		}
	}
	hr {
		border-top-width: $stroke-width;
		margin: 12px 0;
	}
	ul {
		max-height: 50vh;
	}
	.flyout {
		width: 100%;
		border-bottom: none !important;
		transform: translateY(calc(-100% - 36px));
		padding: calc($font-size * 1.5) 0;
	}
	button {
		min-height: calc($toggle-height + $stroke-width * 2);
		& > div {
			transition: $all-transition;
		}
	}
}

.data-toggle {
	position: relative;
	height: $toggle-height + 4px;
	.toggle-button {
		height: $toggle-height;
		z-index: 2;
	}
	#indicator {
		position: absolute;
		height: $toggle-height;
		top: 0;
		z-index: 1;
		transition: $all-transition;
	}
	&.dark {
		background: $dark;
		border: $stroke-width solid $white;
		#indicator {
			background: $white;
		}
	}
	&.light {
		background: $white;
		border: $stroke-width solid $blue;
		#indicator {
			background: $blue;
		}
	}
}

.fw-normal {
	font-weight: normal !important;
}

.recharts-xAxis,
.recharts-yAxis {
	user-select: none !important;
}

.hide-first-y-axis-tick
	.recharts-yAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:first-of-type,
.hide-first-x-axis-tick
	.recharts-xAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:first-of-type {
	display: none;
}
.move-last-x-axis-tick
	.recharts-xAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:last-of-type
	text {
	transform: translateX(-20px);
}

.move-first-x-axis-tick
	.recharts-xAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:first-of-type
	text {
	transform: translateX(20px);
}

.move-first-y-axis-tick
	.recharts-yAxis
	.recharts-cartesian-axis-ticks
	.recharts-cartesian-axis-tick:last-of-type
	text {
	transform: translateY(8px);
}

.move-recharts-label .recharts-label-list {
	transform: translateY(1px);
}

.recharts-wrapper {
	user-select: none;
}
.recharts-surface {
	overflow: visible !important;
}

.matrix-cell {
	color: white !important;
}
.label-x {
	@media screen and (min-width: $mobile) {
		min-height: 30px;
		padding-bottom: 8px;
	}
}
.matrix-grid {
	@media screen and (max-width: $mobile) {
		grid-template-columns: 30px repeat(auto-fit, minmax(0, 1fr));
		width: 100%;
	}
}
.value-cell {
	text-align: center;
	.inner-value-cell {
		width: 100%;
		aspect-ratio: 1;
		&.dark {
			border: 1px solid $dark-grey;
		}
		&.light {
			border: 1px solid $light-grey;
		}
		.inner-value-cell-child {
			aspect-ratio: 1;
			&.dark {
				background: $white;
			}
			&.light {
				background: $blue;
			}
		}
	}
	.tooltip {
		z-index: 9;
		width: 300px;
		height: auto;
		@media screen and (max-width: $mobile) {
			position: fixed;
			top: 35vh;
			left: calc((100vw - 300px) / 2 + 15px);
		}
		@media screen and (min-width: $mobile) {
			position: absolute;
			left: 50%;
			&.above {
				top: 0;
				transform: translateX(-50%) translateY(-100%);
			}
			&.below {
				top: 100%;
				transform: translateX(-50%) translateY(0);
			}
		}
		&.dark {
			background: $white;
			p {
				color: $dark !important;
			}
			.placeholder {
				background: $dark !important;
			}
		}
		&.light {
			background: $blue;
			.placeholder {
				background: $white !important;
			}
			p {
				color: $white !important;
			}
		}
		.placeholder {
			height: $stroke-width;
		}
	}
}

.mobile-grid-labels {
	// padding-left: 30px;
	width: 100%;
	margin: 5vh 0;
	position: relative;
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	p {
		height: fit-content;
		width: fit-content;
		position: absolute;
		// flex-grow: 1;
		transform: rotate(60deg);
		transform-origin: center right;
		bottom: 0;
	}
}
